[Unit]
Description=Robot-BatteryInfo
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/pi/Robot-BatteryInfo/env/bin/python3 /home/pi/Robot-BatteryInfo/main.py
Restart=always
RestartSec=1
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
