[Unit]
Description=Robot-Lights

[Service]
ExecStart=/home/pi/Robot-Lights/env/bin/python3 /home/pi/Robot-Lights/main.py
Restart=always

[Install]
WantedBy=multi-user.target
