[Unit]
Description=Robot-Sensors

[Service]
ExecStart=/home/pi/Robot-Sensors/env/bin/python3 /home/pi/Robot-Sensors/main.py
Restart=always

[Install]
WantedBy=multi-user.target
