[Unit]
Description=Robot-Sensors
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/Robot-Sensors/env/bin/python3 /home/pi/Robot-Sensors/main.py
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
